/* Table parameters */

table {
margin-left:25px
}

table, th, td {
  padding-left:10px;
  padding-right:15px;
  border-collapse: collapse;
}

th {
  background-color: #000000;
  color: #ffffff;
}

td {
  height: 25px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {background-color: #d5d5d5;}

p {
  margin-left: 25px;
}


/* Footer parameters */

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 5rem;    /* Footer height margin */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 2.5rem;            /* Footer height */
}
